In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('LT.csv')
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [6]:
df = pd.read_csv('LT.csv', parse_dates=['date'])

In [7]:
df.info

<bound method DataFrame.info of           date   home_team  away_team  home_score  away_score  \
0   1979-07-20  Kyrgyzstan  Lithuania           0           0
1   1979-07-22     Georgia  Lithuania           5           0
2   1979-07-24  Azerbaijan  Lithuania           0           1
3   1979-07-28   Lithuania    Ukraine           0           2
4   1979-07-30      Russia  Lithuania           2           0
..         ...         ...        ...         ...         ...
362 2019-09-10   Lithuania   Portugal           1           5
363 2019-10-11     Ukraine  Lithuania           2           0
364 2019-10-11     Ukraine  Lithuania           2           0
365 2019-10-14   Lithuania     Serbia           1           2
366 2019-10-14   Lithuania     Serbia           1           2

                  tourniment     city       country
0                   Friendly   Moscow  Soviet Union
1                   Friendly   Moscow  Soviet Union
2                   Friendly   Moscow  Soviet Union
3                   Friendly   Moscow  Soviet Union
4                   Friendly   Moscow  Soviet Union
..                       ...      ...           ...
362  UEFA Euro qualification  Vilnius     Lithuania
363  UEFA Euro qualification  Kharkiv       Ukraine
364  UEFA Euro qualification  Kharkiv       Ukraine
365  UEFA Euro qualification  Vilnius     Lithuania
366  UEFA Euro qualification  Vilnius     Lithuania

[367 rows x 8 columns]>

In [8]:
df['away_team'] == 'Lithuania'

0       True
1       True
2       True
3      False
4       True
       ...
362    False
363     True
364     True
365    False
366    False
Name: away_team, Length: 367, dtype: bool

In [9]:
df[[True if i % 5 == 0 else False for i in range(len(df))]]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
5,1979-08-01,Belarus,Lithuania,0,2,Friendly,Moscow,Soviet Union
10,1992-04-14,Austria,Lithuania,4,0,Friendly,Vienna,Austria
15,1992-07-12,Latvia,Lithuania,2,3,Baltic Cup,Liepoja,Latvia
20,1992-10-28,Lithuania,Latvia,1,1,FIFA World Cup qualification,Vilnius,Lithuania
...,...,...,...,...,...,...,...,...
345,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
355,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania
360,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [10]:
df[(df['away_team'] == 'Lithuania') & (df['city']=='Belgrade')]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
152,2005-09-03,Serbia,Lithuania,2,0,FIFA World Cup qualification,Belgrade,Serbia and Montenegro
183,2008-10-11,Serbia,Lithuania,3,0,FIFA World Cup qualification,Belgrade,Serbia
349,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
357,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia
358,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia

In [11]:
df[df['away_team'].isin(['Montenegro','Serbia'])]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
154,2005-10-08,Lithuania,Serbia,0,2,FIFA World Cup qualification,Vilnius,Lithuania
195,2009-10-14,Lithuania,Serbia,2,1,FIFA World Cup qualification,Marijampol?,Lithuania
339,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania
340,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania
345,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
346,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [12]:
df[df['city'].isin(['Vilnius','Kaunas'])]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
17,1992-09-02,Lithuania,Georgia,1,0,Friendly,Kaunas,Lithuania
18,1992-09-23,Lithuania,Denmark,0,0,FIFA World Cup qualification,Vilnius,Lithuania
19,1992-10-14,Lithuania,Slovakia,0,1,Friendly,Vilnius,Lithuania
20,1992-10-28,Lithuania,Latvia,1,1,FIFA World Cup qualification,Vilnius,Lithuania
26,1993-04-14,Lithuania,Albania,3,1,FIFA World Cup qualification,Vilnius,Lithuania
...,...,...,...,...,...,...,...,...
360,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania
361,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [13]:
df[(df['away_team'] == 'Lithuania') & (pd.DatetimeIndex(df['date']).year==2018)]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
327,2018-03-24,Georgia,Lithuania,4,0,Friendly,Tbilisi,Georgia
328,2018-03-24,Georgia,Lithuania,4,0,Friendly,Tbilisi,Georgia
329,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia
330,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia
331,2018-05-30,Estonia,Lithuania,2,0,Baltic Cup,Rakvere,Estonia
332,2018-05-30,Estonia,Lithuania,2,0,Baltic Cup,Rakvere,Estonia
337,2018-06-12,Poland,Lithuania,4,0,Friendly,Warsaw,Poland
338,2018-06-12,Poland,Lithuania,4,0,Friendly,Warsaw,Poland
341,2018-09-10,Montenegro,Lithuania,2,0,UEFA Nations League,Podgorica,Montenegro
342,2018-09-10,Montenegro,Lithuania,2,0,UEFA Nations League,Podgorica,Montenegro
347,2018-11-17,Romania,Lithuania,3,0,UEFA Nations League,Ploie?ti,Romania
348,2018-11-17,Romania,Lithuania,3,0,UEFA Nations League,Ploie?ti,Romania
349,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia

In [14]:
len( df[ (df['away_team'] == 'Lithuania') & ( df['date'].dt.year == 2018 ) ] )

14

How many games Lithuania played in each tournament

In [15]:
df['tourniment'].value_counts()

Friendly                           127
FIFA World Cup qualification        90
UEFA Euro qualification             87
Baltic Cup                          40
UEFA Nations League                 12
Cyprus International Tournament      8
Malta International Tournament       3
Name: tourniment, dtype: int64

In [16]:
df.groupby('tourniment').count()

,date,home_team,away_team,home_score,away_score,city,country
tourniment,,,,,,,
Baltic Cup,40,40,40,40,40,40,40
Cyprus International Tournament,8,8,8,8,8,8,8
FIFA World Cup qualification,90,90,90,90,90,90,90
Friendly,127,127,127,127,127,127,127
Malta International Tournament,3,3,3,3,3,3,3
UEFA Euro qualification,87,87,87,87,87,87,87
UEFA Nations League,12,12,12,12,12,12,12

Create a new column to calculate the amount of goals scored

In [21]:
df['goal_sum']=df['home_score']+df['away_score']

Create a new column to calculate the goal difference

In [18]:
df['goal_diff']=df['home_score']-df['away_score']

How many matches ended in a draw?

In [19]:
len(df[df['goal_diff']==0])

73

Which country did we lose by the biggest difference, playing at home, when did it happen, in what city did the match take place?

In [31]:
df_Home_LT = df[(df['home_team'] == 'Lithuania')]
df_Home_LT[(df_Home_LT['goal_diff']==min(df_Home_LT['goal_diff']))]

,date,home_team,away_team,home_score,away_score,tourniment,city,country,goal_diff,goal_sum
108,2000-10-11,Lithuania,Hungary,1,6,FIFA World Cup qualification,Kaunas,Lithuania,-5,7

How many matches did Lithuania lose by playing abroad?

In [42]:
len(df[(df['away_team']=='Lithuania')&(df['goal_diff']>0)])

138

How many matches did Lithuania win by playing abroad?

In [43]:
len(df[(df['away_team']=='Lithuania')&(df['goal_diff']<0)])

39

How many matches did Lithuania win by playing in Lithuania?

In [44]:
len(df[(df['country']=='Lithuania')&(df['goal_diff']>0)])

47

How many matches did Lithuania lose by playing in Lithuania?

In [45]:
len(df[(df['country']=='Lithuania')&(df['goal_diff']<0)])

60

How many matches did Lithuanians play in the draw at home?

In [46]:
len(df[(df['country']=='Lithuania')&(df['goal_diff']==0)])

24

How many matches did the Lithuanians draw by playing abroad?

In [47]:
len(df[(df['away_team']=='Lithuania')&(df['goal_diff']==0)])

42